body{
    margin: 0% 0%;
    padding: 0% 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 8vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}
.logo img{
    height: auto;
    width: 8%;
    position: absolute;
    left: 25px;
    top: calc(4vh - 18%);
}
.logo,{
    display: inline-block;
}
.righttext div{
    display: inline-block;
    margin: 0px 15px;
}
.lefttext div{
    display: inline-block;
    margin: 0px 15px;
}
.lefttext{
    text-align: left;
    position: absolute;
    left: 12%;
    top: calc(4vh - 8px);
}
.righttext{
    text-align: right;
    position: absolute;
    right: 8%;
    top: calc(4vh - 8px);
}
.lefttext,.righttext{
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    width: 40%;
    height: 20px;
    font-weight: 500;
}
header a{
    display: inline-block;
    background-color: #0061FF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    position: absolute;
    right: 25px;
    font-size: 14px;
    top: calc(4vh - 17px);
}


/* header finito */
/* freetry */


.samemargin{
    width: 100%;
}
.samemargin .plan,.findpartner,.dropboxbusinness{
    padding: 0% 17%;
}
.freetry{
    background-color: #B4D0E7;
    height: 90vh;
    position: relative;
    padding: 0% 15%;
}
.freetry h1{
    font-size: 86px;
    font-weight: 700;
    padding: 11% 0px 0px 0px;
    margin: 0px 0px;
    text-align: left;
}
.paragraph1{
    font-size: 17px;
    font-weight: 500;
    padding: 3% 69% 3% 0%;
}
.freetry a{
    background-color: #0061FF;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
.paragraph2{
     font-size: 14px;
     font-weight: 600;
     padding-top: 7px;
}
.freetry i{
    font-size: 40px;
    padding-top: 3%;
}
.freetry img{
    height: 62%;
    width: auto;
    position: absolute;
    top: 47%;
    right: 10%;
}


/* freetry completato */
/* plan */


.plan{
    height: 200vh;
    width: 66%;
    position: relative;
    display: inline-block;
}
.plan h1{
    font-weight: 600;
    font-size: 40px;
    position: absolute;
    top: 150px;
}
.plan .input {
    position: relative;
    font-size: 17px;
    top:270px;
}
.tabellasx{
    width: 20%;
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 320px;
    left: 17%;
}
.tabellacent{
    width: 20%;
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 320px;
    right: calc(50% - 10%);
}
.tabelladx{
    width: 20%;
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 320px;
    right: 17%;
}
.tabletitle{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #D0D0D3;
    padding: 10px 0px 10px 0px ;
    background-color: white;
    color: #9B9B9B;
}
.content{
    border: 1px solid #D0D0D3;
    padding: 20px 20px 20px 20px ;
    background-color: white;
    min-height: 110vh;
}
.licencetype{
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 15px;
}
.price{
    font-weight: 800;
    font-size: 15px;
    text-align: left;
}
.duration{
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    color: grey;
    margin-top: 15px;
    margin-bottom: 50px;
}
.content p{
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    margin: 30px 0px;
}
.underline{
    font-weight: 500;
    color: blue;
    text-decoration: underline;
    font-size: inherit;
}
.functions{
    padding-bottom: 40px;
}
.tryforfree{
    padding: 10px 40px;
    background-color: #0061FF;
    text-decoration: none;
    color: white;
}
.planpoints{
    font-weight: 800;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
}
.content .checkmark{
    color: #0061FF;
    font-weight: 800;
    font-size: 15px;
}
.content hr{
    width: 50px;
    text-align: left;
    position: relative;
    right: 105px;
}
.tabellainf{
    width: 66%;
    position: absolute;
    top: 158vh;
}
.tabellainf .content .tryforfree{
    position: absolute;
    right:3%;
    top: 30%;
}
.tabellainf .content .licencetype{
    margin-top: 8px;
}
.tabellainf .content{
    min-height: 17vh;
}


/* plan completato */
/* findpartner */


.findpartner{
    width: 66%;
    height: 70vh;
}
.findpartner img{
    width: 55%;
    height: auto;
}
.partnercontent{
    display: inline-block;
    width: 39%;
    margin-left: 5%;
    position: relative;
    bottom:55%
}
.partnertitle{
    font-size: 23px;
}
.partnertext{
    margin-bottom: 50px;
}
.partnerbutton{
    padding: 10px 30px;
    background-color: white;
    border: 1px solid #A3A3A3;
    text-decoration: none;
    color: #A3A3A3;
}


/* findpartner completato */
/* dropboxbusinness */


.dropboxbusinness{
    height: 130vh;
    width: 66%;
    position: relative;
}
.businnesstitle{
    margin-top: 2%;
    font-size: 45px;
    font-weight: 700;
}
.elementbusinness{
    width: 18%;
    position: absolute;
    display: inline-block;
    margin-top: 3%;
}
.elementbusinness img{
    width: 100%;
    height: auto;
}
.elementbusinness h4{
    font-size: 25px;
    font-weight: 700;
}
#topsx{
    left: 17%;
    top: 60px;
}
#topcent{
    left: calc(50% - 9%);
    top: 60px;
}
#topdx{
    right: 17%;
    top: 60px;
}
#bottomsx{
    left: 17%;
    bottom: 0px;
}
#bottomcent{
    left: calc(50% - 9%);
    bottom: 0px;
}
#bottomdx{
    right: 17%;
    bottom: 0px;
}


/* businness finito */
/* clients */


.clients{
    height: 40vh;
    margin: 0% 17%;
    position: relative;
}
.clientstitle{
    font-size: 45px;
    font-weight: 700;
}
.clienttext{
    position: relative;
    top: 45%;
}


/* team and dropbox */


.teamanddropbox{
    height: 5vh;
    width: 100%;
    position: relative;
}
.sponsorsx{
    display: inline-block;
    height: 56vh;
    width: 30%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.sponsordx{
    display: inline-block;
    height: 56vh;
    width: 30%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.sponsorsx div{
    height: 28vh;
    width: 50%;
    display: inline-block;
}
.sxtopsx{
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    background-color: #A2D39B;
    border: 10px solid #D0E9CD;
}
.sxtopdx{
    position: absolute;
    top: 0px;
    left: 50%;
    background-color: #61082B;
}
.sxbottomsx{
    position: absolute;
    top: 50%;
    left: 0px;
    background-color: #0093CE;
}
.sxbottomdx{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FF1C1C;
}
.sponsorsx div img{
    height: auto;
    width: 150px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(45% , -50%);
    filter: invert(88%) sepia(100%) saturate(0%) hue-rotate(99deg) brightness(105%) contrast(107%);
}


/* ho provato a fare regole css che comprendevano sia sinistra che destra ma ho dovuto separare tutto */


.sponsordx div{
    height: 28vh;
    width: 50%;
    display: inline-block;
}
.dxtopsx{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #D5001F;
}
.dxtopdx{
    position: absolute;
    top: 0px;
    left: 50%;
    background-color: #B4D0E7;
}
.dxbottomsx{
    position: absolute;
    top: 50%;
    left: 0px;
    background-color: #0D2481;
}
.dxbottomdx{
    position: absolute;
    top: 50%;
    right: 0%;
    background-color: #FFD830;
}
.sponsordx div img{
    height: auto;
    width: 150px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(45% , -50%);
    filter: invert(88%) sepia(100%) saturate(0%) hue-rotate(99deg) brightness(105%) contrast(107%);
}
.sponsorcent{
    display: inline-block;
    box-sizing: border-box;
    height: 56vh;
    width: 40%;
    background-color: #F5F5F5;
    position: absolute;
    top: 0px;
    left: calc(50% - 20%);
    padding: 50px 50px 50px 50px;
}
.sponsorcent img{
    width: 150px;
    height: auto;
}
.teamanddropbox hr{
    position: relative;
    width: 75px;
    top: 10%;
    right: 43%;
}
.sponsortext{
    font-size: 15px;
    margin-top: 20%;
}
.sponsorsignature{
    font-size: 15px;
    margin-top: 10%;
}

/* teamanddropbox completato */
/* freetry 2 */